<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="display: inline;">Test system <i>IExam </i>!</h3>
    </div>
    <div class="panel-body">
        <p>
            <i>
                IExam is an online system for tests. It's purpose is to help manage tests and exams for students and also help them with their studies.
                There are video lectures available to help everyone that has a hard time understanding the materials or can't doesn't have the ability to go to the university
                and a comment section in which students can discus the lectures. Everyone can do the tests and review the once he has already done.
                People also have the ability to edit their own prifile and chat with eachother.
            </i>
        </p>
    </div>
</div>
