@{
    ViewBag.Title = "About";
}

<style>
    ul {
        list-style-type: none;
        margin-top: 5px;
    }
</style>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="display: inline;">Test system <i>IExam </i>!</h3>
    </div>
    <div class="panel-body">
        <p><b>This site was created by: </b></p>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Marian Graurov</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="~/Content/images/marian.png" width="200" height="200" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Student at FMI, Sofia University St. Kliment Ohridski</li>
                                <li>
                                    Specialty:
                                    <ul>
                                        <li>Software Engeneering</li>
                                    </ul>
                                </li>
                                <li>
                                    Interests:
                                    <ul>
                                        <li>Programming</li>
                                        <li>Cooking</li>
                                        <li>Reading</li>
                                        <li>Tourism</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Diana Kasavetova</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="~/Content/images/diana.png" width="200" height="200" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Student at FMI, Sofia University St. Kliment Ohridski</li>
                                <li>
                                    Specialty:
                                    <ul>
                                        <li>Software Engeneering</li>
                                    </ul>
                                </li>
                                <li>
                                    Interests:
                                    <ul>
                                        <li>Programming</li>
                                        <li>Folklore dances</li>
                                        <li>Tourism</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Elina Deyanova</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="~/Content/images/elina.png" width="200" height="200" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Student at FMI, Sofia University St. Kliment Ohridski</li>
                                <li>
                                    Specialty:
                                    <ul>
                                        <li>Software Engeneering</li>
                                    </ul>
                                </li>
                                <li>
                                    Interests:
                                    <ul>
                                        <li>Programming</li>
                                        <li>Tenis</li>
                                        <li>Fencing</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Svetoslav Tahirov</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="~/Content/images/svetoslav.png" width="200" height="200" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Student at FMI, Sofia University St. Kliment Ohridski</li>
                                <li>
                                    Specialty:
                                    <ul>
                                        <li>Software Engeneering</li>
                                    </ul>
                                </li>
                                <li>
                                    Interests:
                                    <ul>
                                        <li>Programming</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

