
@{
    ViewBag.Title = "Index";
}

<header>
    <h1 class="col-md-offset-1"><span class="glyphicon glyphicon-pencil"></span>@ViewBag.Title</h1>
    </header>

<div style="display: inline">
    <nav id="navigation" class="col-md-2">
        @Html.Partial("~/Views/Shared/_Navigation.cshtml")
    </nav>
    <div class="container col-md-offset-2" id="main_Container_Div">
    </div>
</div>