@{
    ViewBag.Title = "Successfully Registered";
}

<div class="col-md-12">
    <div style="display: inline">
        <div class="panel panel-success">
            <div class="panel-body">
                You have successfully registered.
            </div>
        </div>
    </div>
</div>

