@using IExam.Helpers
@model IExam.Models.ApplicationUser
@{
    ViewBag.Title = "Profile";
}

<header>
    <script src="~/Scripts/PagesScript/Account/IExamUserProfilePageScript.js"></script>
</header>

<div class="alert alert-info container-fluid">
    <div class="col-md-12 alert alert-danger" >
        <label>Profile:</label>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                Profile Photo:
            </div>

            <div class="col-md-6">
                <img src="@Url.Content(Model.ProfilePicture)" height="400" width="300" />
                <input type="button" onclick="IExamUserProfile.PageLogic.photoUploadModalManagement()" value="Upload Profile picture..." class="btn btn-default pull-right" />
            </div>
        </div>
        <hr />
    </div>


    @{var properties = ObjPropertyGetter.GetProperties(Model);
    foreach (var prop in properties)
    {
        if (prop.Name == "FirstName" ||
                prop.Name == "LastName" ||
                prop.Name == "FN" ||
                prop.Name == "IdentityNumber" ||
                prop.Name == "UserName")
        {
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label class="">
                        @prop.Name: 
                    </label>
                </div>
                <div class="col-md-6">
                    @prop.GetValue(Model, null)
                </div>
                <br>
            </div>
            <hr>
        </div>
        }
    }
    }

    @Html.ActionLink("Edit Profile", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-danger pull-right" })
</div>

<div class="modal fade" id="user_profile_upload_picture">
    <div class="modal-dialog">
        <div class="modal-dialog" style="background-color: white; border-radius: 5px;">
            <div class=" modal-header">
                <label>Upload a profile picture.</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("UploadProfilePicture", "Account", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data" }))
                    { 
                        <input type="file" name="file" placeholder="Choose profile picture." class=" form-control" />
                        <input type="submit" value="Upload" class="btn btn-default" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>