@{
    ViewBag.Title = "Profile";
}

<div class="alert alert-info">

    @Html.ActionLink("Edit Profile", "Manage", routeValues: null, htmlAttributes: new { @class="btn btn-danger pull-right"})
</div> 
