@using IExam.Models;
@using Microsoft.AspNet.Identity;
<header>
    <script src="~/Scripts/PagesScript/Account/iExamUsersPageScript.js"></script>
</header>


@{
    ViewBag.Title = "Users";
}

<div id="main_content">
    <div class="panel panel-success">
        <div class="container-fluid" style="margin-top:5px; border-radius: 5px; overflow: auto">
            <table class="table table-bordered table-responsive" style="border-radius: 5px !important;">
                <tbody>
                    <tr>
                        <td>
                            Users:
                        </td>
                        <td class="success" id="UsersNumber" data-bind="text: UserStats.usersNumber"></td>
                        <td>
                            Admin:
                        </td>
                        <td class="danger" id="AdminNumber" data-bind="text: UserStats.adminsNumber"></td>
                        <td>
                            Moderator:
                        </td>
                        <td class="info" id="ModeratorNumber" data-bind="text: UserStats.moderatorsNumber"></td>
                        <td>
                            All:
                        </td>
                        <td class="info" id="AllUsersNumber" data-bind="text: UserStats.allUsersNumber"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <button data-bind="click: ShowHideUsersTable()" class="btn btn-default">Show/Hide Users Table</button>
                </div>
            </div>
        </div>
        <br />

        <div class="container-fluid" data-bind="visible: usersTableVisibility">
            <input class="form-control" data-bind="value: querySearch, valueUpdate: 'afterkeydown', event: { 'keyup': search }" placeholder="Search by User Name..." />
        </div>

        <br />
        <div class="container-fluid" data-bind="visible: usersTableVisibility">
            <div class="alert alert-success" style="overflow: auto">
                <table class="table table-hover">
                    <thead>
                        <tr onclick="">
                            <td>User Name</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Identity Number</td>
                            <td>Faculty Number</td>
                            <td>Role</td>
                            <td>Change Role</td>
                            <td>Delete User</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: users" id="usersData">
                        <tr onclick="IExamUsers.PageLogic.ChangeUserData(event)" data-bind="attr: {id: id}">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: firstName"></td>
                            <td data-bind="text: lastName"></td>
                            <td data-bind="text: identityNumber"></td>
                            <td data-bind="text: FN"></td>
                            <td data-bind="text: role, attr: {id: 'RoleId' + id() }"></td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <select class="btn btn-default dropdown-toggle selectUserRoleChange" data-bind="attr: {id: id }" onclick="IExamUsers.PageLogic.stopPropagations(event)" onchange="IExamUsers.PageLogic.ChangeUserRole(event); return false;">
                                        <option value="default">Change Role</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Moderator">Moderator</option>
                                        <option value="User">User</option>
                                    </select>
                                }
                                else
                                {
                                    <p>Only For Admins</p>
                                }
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <button type="button" class="btn btn-danger" data-bind="attr: {id: id }" onclick="IExamUsers.PageLogic.DeleteUser(event)">
                                        Delete
                                    </button>
                                }
                                else
                                {
                                    <p>Only For Admins</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="user_update_data_popup">
    <div class="modal-dialog">
        <div class="modal-dialog" style="background-color: white; border-radius: 5px;">
            <div class=" modal-header">
                <label id="username"></label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" id="userID" />
                    <label>User First Name:</label>
                    <input type="text" id="userFirstName" class="form-control" />
                    <label>User Last Name:</label>
                    <input type="text" id="userLastName" class="form-control" />
                    <label>User Faculty Number:</label>
                    <input type="text" id="userFN" class="form-control" />
                    <label>User Identity Number:</label>
                    <input type="text" id="userIdentityNumber" class="form-control" />

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" onclick="IExamUsers.PageLogic.UpdateUser(event)" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>