@model IEnumerable<IExam.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<div class="label label-danger">
    <table class="table col-md-12">
        <thead>
            <tr>
                <td>
                    User name
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>