<header>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/iExamUsersPageScript.js"></script>
</header>


@{
    ViewBag.Title = "Users";
}

<div id="main_content">
    <div class="panel panel-success">
        <div class="container-fluid" style="margin-top:5px; border-radius: 5px">
            <table class="table table-bordered table-responsive" style="border-radius: 5px !important;">
                <tbody>
                    <tr>
                        <td>
                            Users:
                        </td>
                        <td class="success" id="UsersNumber" data-bind="text: UserStats.usersNumber"></td>
                        <td>
                            Admin:
                        </td>
                        <td class="danger" id="AdminNumber" data-bind="text: UserStats.adminsNumber"></td>
                        <td>
                            Moderator:
                        </td>
                        <td class="info" id="ModeratorNumber" data-bind="text: UserStats.moderatorsNumber"></td>
                        <td>
                            All:
                        </td>
                        <td class="info" id="AllUsersNumber" data-bind="text: UserStats.allUsersNumber"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <button data-bind="click: ShowHideUsersTable()" class="btn btn-default" >Show/Hide Users Table</button>
                </div>
            </div>
        </div>
        <br />

        <div class="container-fluid" data-bind="visible: usersTableVisibility">
            <div class="alert alert-success">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>User Name</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Identity Number</td>
                            <td>Faculty Number</td>
                            <td>Role</td>
                            <td>Change Role</td>
                            <td>Delete User</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: users" id="usersData">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: firstName"></td>
                            <td data-bind="text: lastName"></td>
                            <td data-bind="text: identityNumber"></td>
                            <td data-bind="text: FN"></td>
                            <td data-bind="text: role, attr: {id: 'RoleId' + id() }">
                                @*<span data-bind="text: role"></span>*@
                            </td>
                            <td>
                                <select class="btn btn-default dropdown-toggle selectUserRoleChange" data-bind="attr: {id: id }" onchange="IExamUsers.PageLogic.ChangeUserRole(event)">
                                    <option value="default">Change Role</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Moderator">Moderator</option>
                                    <option value="User">User</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-bind="attr: {id: id }" onclick="IExamUsers.PageLogic.DeleteUser(event)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>