@model IEnumerable<IExam.Models.Video>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="row" style="margin-top: 2px">
            <div class="col-md-12" style="padding-bottom: 5px;">
                <div class="col-sm-8 col-md-8">
                    <div class="btn btn-info videoHeader col-sm-12 col-md-12 wordwrap" id="multilineDiv" onclick="LoadVideo(@item.ID)">@item.name</div>
                </div>
                <div class="col-sm-3 col-md-3">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <input class="btn btn-danger videoDelete col-sm-12 col-md-12" value='Delete' type="button" onclick="DeleteVideo(@item.ID)">
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12">
        <p class="alert alert-danger">No Videos.</p>
    </div>
}

<br />
