@model IExam.Models.Video

@if (Model != null) { 
    <iframe src="//www.youtube.com/embed/@Model.link" frameborder="0" allowfullscreen></iframe>
    <input type="hidden" value="@Model.VideoID" id="selectedVideoInPlayerID">
    <input type="hidden" value="@Model.link" id="selectedVideoInPlayerLink">
}

<div id="videoComents"></div>

<script>
    $(window).resize(function () {
        $('iframe').width($('#videosPlayerContainer').width());
        $('iframe').height($('iframe').width() * 3 / 4);
        $('#videoComents').width($('iframe').width());
    })
</script>