@model IExam.Models.Video


<iframe src="//www.youtube.com/embed/@Model.link" id="movie_player" frameborder="0"></iframe>
<input type="hidden" value="@Model.VideoID" id="selectedVideoInPlayerID">
<input type="hidden" value="@Model.link" id="selectedVideoInPlayerLink">

<div id="videoComents"></div>

<script>
    $(window).resize(function () {
        $('iframe').width($('#videosPlayerContainer').width());
        $('iframe').height($('iframe').width() * 3 / 4);
        $('#videoComents').width($('iframe').width());
    })
</script>