@model IExam.Models.Video
@{
    ViewBag.Title = " Video";
}

<div class="col-md-offset-2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 style="display: inline;">Videos</h4>
        </div>
        <div class="panel-heading">
            <form id="newVideoAdder">
                <label for="name">Name: <input type="text" name="name" id="nameForNewVideo"><br></label>
                <label for="link">URL: <input type="text" name="link" id="linkForNewVideo"><br></label>
                <label><input type="button" class="btn btn-success btn-lg" value="Create Video" onclick="addNewVideo()" /></label>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row table-base">
            <div class="col-md-6" id="videosPlayerContainer"></div>
            <div class="col-md-6" id="videosContainer"></div>
        </div>
        <div class="col-md-6" id="videoComents" style="padding-left: 0px"></div>
    </div>
</div>

<script>
    loadVideosList();
    </script>