@model IExam.Models.Video
@{
    ViewBag.Title = " Video";
}
<header>
    <script src="~/Scripts/iExamVideoPageScript.js"></script>
</header>

<div class="col-md-12">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 style="display: inline;">Videos</h4>
            @if (Request.IsAuthenticated)
            {
                <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Create","Video")'" style="float: right"><span class="glyphicon glyphicon-plus-sign"></span>    Create</button><br><br>
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="row table-base">
            <div class="col-md-6" id="videosContainer">
                <div data-bind="visible: videoListIsVisible()">
                    <div data-bind="foreach: videos">
                        <div class="row" style="margin-top: 2px">
                            <div class="col-md-12" style="padding-bottom: 5px;">
                                <div class="col-sm-8 col-md-8">
                                    <div class="btn btn-info videoHeader col-sm-12 col-md-12 multilineDiv" id="multilineDiv" onclick="IExamVideo.PageLogic.LoadVideo(event)" data-bind="text: name, attr: {id: id }" style="text-wrap"></div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                                    {
                                        <input class="btn btn-danger videoDelete col-sm-12 col-md-12" value='Delete' type="button" data-bind="attr: {id: id }" onclick="IExamVideo.PageLogic.DeleteVideo(event)">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: !videoListIsVisible()">
                    <div class="col-md-12">
                        <p class="alert alert-danger">No Videos.</p>
                    </div>
                </div>

            </div>
            <div class="alert alert-info col-md-6" id="videosPlayerContainer" style="padding: 10px; margin: 0 auto; overflow: hidden; display: none"></div>
        </div>
    </div>
</div>