@model IExam.Models.Video
@{
    ViewBag.Title = " Video";
}
<header>
    <script src="~/Scripts/iExamVideoPageScript.js"></script>
</header>

<div class="col-md-12">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 style="display: inline;">Videos</h4>
            @if (Request.IsAuthenticated)
            {
                <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Create","Video")'" style="float: right"><span class="glyphicon glyphicon-plus-sign"></span>    Create</button><br><br>
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="row table-base">
            <div class="col-md-6" id="videosContainer"></div>
            <div class="col-md-6" id="videosPlayerContainer" style="padding: 10px; background-image: url(../../Content/images/videoPlayerAndCommentsBackgrounf.png); webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; margin: 0 auto; overflow: hidden; display: none"></div>
        </div>
    </div>
</div>

<script>
    IExamVideo.PageLogic.loadVideosList();
</script>
