@model IExam.Models.Video
@{
    ViewBag.Title = " Video";
}

<div class="col-md-offset-2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 style="display: inline;">Videos</h4>
            <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Create","Video")'" style="float: right"><span class="glyphicon glyphicon-plus-sign"></span>    Create</button><br><br>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row table-base">
            <div class="col-md-6" id="videosPlayerContainer"></div>
            <div class="col-md-6" id="videosContainer"></div>
        </div>
        <div class="col-md-6" id="videoComents" style="padding-left: 0px"></div>
    </div>
</div>

<script>
    loadVideosList();
    </script>