@model IExam.Models.Test
<header>
    <script src="~/Scripts/PagesScript/Tests/IExamTestsIndexPageScript.js"></script>
    <script src="~/Scripts/PagesScript/Tests/IExamTestQuestionsPageScript.js"></script>
</header>
@{
    ViewBag.Title = "Tests";
}

<div class="alert alert-danger container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Create Test:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="testName">Test name: </label>
            <input type="text" id="testName" class="form-control" />
            <input type="button" class="btn btn-info" value="Create Test" onclick="IExamTestIndex.PageLogic.CreateTest()" style="margin-top: 2px" />
            <label id="requirmentName">Name Field Is Required</label>
        </div>
    </div>
</div>

<div class="container-fluid alert alert-success" data-bind="visible: testsTableIsVisible">
    <div class="table table-hover" id="test_data">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">Test Name</div>
            <div class="col-xs-6 col-sm-6 col-md-6">Delete Test</div>
        </div>
        <div data-bind="foreach: tests">
            <div class="row">
                <div data-bind="text: name" class="col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-xs-2 col-sm-2 col-md-2"><button type="button" class="btn btn-info col-md-12 col-sm-12 col-xs-12" data-bind="attr: { id: id }" onclick="IExamTestIndex.PageLogic.ShowQestions(event)">Questions</button></div>
                <div class="col-xs-6 col-sm-6 col-md-6"><button type="button" class="btn btn-danger col-md-12 col-sm-12 col-xs-12" data-bind="attr: { id: id }" onclick="IExamTestIndex.PageLogic.DeleteTest(event)">Delete</button></div>
            </div>
            <br />
            <div data-bind="attr: {id: 'questionsContainer' + id()}" style="display: none">
                <div class="row">
                    <div data-bind="attr: {id: 'previousQuestions' + id()}"></div>
                </div>
                <div class="container-fluid">
                    <div class="row alert alert-danger">
                        <div data-bind="attr: {id: 'newQuestions' + id()}">
                            <form class="col-md-12">
                                <label for="newTestQuestion">Question *</label>
                                <input type="text" required data-bind="attr: {id: 'newTestQuestion' + id()}" class="form-control" />

                                <label>First Answer *</label>
                                <input type="text" required data-bind="attr: {id: 'newTestFirstAnswer' + id()}" class="form-control" />

                                <label>Second Answer *</label>
                                <input type="text" required data-bind="attr: {id: 'newTestSecondAnswer' + id()}" class="form-control" />

                                <label>Third Answer *</label>
                                <input type="text" required data-bind="attr: {id: 'newTestThirdAnswer' + id()}" class="form-control" />

                                <label>Fourth Answer *</label>
                                <input type="text" required data-bind="attr: {id: 'newTestFourthAnswer' + id()}" class="form-control" />

                                <br />

                                <label>True Answer</label>
                                <select class="btn btn-default dropdown-toggle" data-bind="attr: {id: 'newTestAnswer' + id()}">
                                    <option value="1" selected="selected">First</option>
                                    <option value="2">Second</option>
                                    <option value="3">Third</option>
                                    <option value="4">Fourth</option>
                                </select>
                                <br />
                                <button type="button" class="btn btn-warning" data-bind="attr: { id: id }" onclick="IExamTestQuestion.PageLogic.AddQuestion(event)">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default" onclick="IExamTestIndex.PageLogic.CloseQuestions(event)" data-bind="attr: {id: id }">Hide</button>
                <br />
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" data-bind="visible: !testsTableIsVisible()">
    <div class="col-md-12">
        <div class="alert alert-danger">
            No Tests Yet
        </div>
    </div>
</div>